@model AppPrueba.Models.Ciudad

@{
    ViewData["Title"] = "Create";
}

<h2>Crear</h2>

<h4>Ciudad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Pais</label>
                <select id="paises" class="form-control"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Provincia</label>
                <select asp-for="ProvinciaId" id="provincias" class="form-control" asp-items="ViewBag.ProvinciaId">
                    <option> Seleccione la Provincia</option>
                </select>
                
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>

    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("ListaPaises","Pais")',
            data: "{}",
            success: function (pais) {

                var s = '<option value = "-1"> Seleccione el Pais</option>';
                for (var i = 0; i < pais.length; i++) {
                    s += '<option value="' + pais[i].id + '">' + pais[i].nombre + '</option>';
                }
                $("#paises").html(s);
                console.log(pais);
            }
        });

        $("#paises").change(function () {
                $("#provincias").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ObtenerProvincias", "Provincias")',
                    dataType: 'json',
                    data: { pais: $("#paises").val() },

                    success: function (provincias) {
                        console.log(provincias);
                        $.each(provincias, function (i, provincia) {
                            $("#provincias").append(
                                '<option value="' + provincia.value + '">' + provincia.text + '</option>');
                        });
                    },

                    error: function (ex) {
                        alert('Error al obtener las provincias');
                    }
                });
            })
    });

</script>